<header class="main-header">
    <div class="container">
        <div class="logo">
            <h1>CSE Motors</h1>
        </div>
        
        <div class="header-contact">
            
            <% if (locals.loggedin) { %>
                <a href="/account/" title="Manage your account">Welcome <%= locals.account_firstname %></a>
            <% } %>

            <% if (!locals.loggedin) { %>
                <a href="/account/login" title="Login or register with us">My Account</a>
            <% } %>

            <% if (locals.loggedin) { %>
                <a href="/account/logout" title="Click to log out">Logout</a>
            <% } %>
            
        </div>
        </div>
</header>