<header class="main-header">
    <div class="container">
        <div class="logo">
            <h1>CSE Motors</h1>
        </div>
        <div class="header-contact">
            <a href="/account/login">My Account</a>
        </div>
    </div>
</header>