<footer>
    <p>&copy; <span id="current-year"></span> CSE Motors. All rights reserved.</p>
    <p>Last Modified: <span id="last-modified"></span></p>
    <p><a href="/trigger-error" style="color: #f1faee;">Trigger Server Error</a></p>

</footer>
<script src="/js/scripts.js"></script>


