<footer>
    <p>&copy; <span id="current-year"></span> CSE Motors. All rights reserved.</p>
    <p>Last Modified: <span id="last-modified"></span></p>
    <p><a href="/trigger-error">Trigger Test Error</a></p>




</footer>
<script src="/js/scripts.js"></script>


