<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title: title}) %>
  <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
  <%- include('../partials/header') %>
  
  <main class="detail-main">
    <%- detailHTML %>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>