<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title}) %>
  <link rel="stylesheet" href="../css/inventory-detail.css">
</head>
<body>
  <%- include('../partials/header') %>
  
  <main class="detail-main">
    <%- grid %>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>